.component-3 {
  width: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 115px 0 132px 0;

  .text-1 {
    font-family: "Raleway";
    font-size: 31px;
    font-weight: 700;
    color: $gray-1;
    margin-bottom: 5px;

    .we-are {
      color: $green;
    }
  }

  .icon {
    margin: 5px 0 92px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    column-gap: 128px;
    position: relative;

    .image {
      position: relative;
      top: 5px;
      right: -45px;

      .image-holder {
        width: 510px;
        height: 414px;
        background-color: white;
      }

      .background-scroller {
        position: absolute;
        top: 21px;
        left: 21px;
        width: 468px;
        height: 263px;
        overflow: scroll;

        .background {
          background-image: url("../../images/component-3/image-3.jpg");
          width: 468px;
          height: 1100px;
          background-size: 100%;
        }
      }

      .background-scroller::-webkit-scrollbar {
        display: none;
      }
    }

    .container-2 {
      display: grid;
      grid-template-columns: 90fr 220fr 90fr 220fr;
      grid-template-rows: 58px 129px 125px 40px;
      max-width: 620px;
      margin-left: 10px;

      .text-1 {
        grid-column: 1 / 5;
        font-family: "Raleway";
        font-size: 31px;
        color: $gray-1;
        letter-spacing: -0.8px;
      }

      .text-2 {
        grid-column: 1 / 5;
        font-family: "Open Sans";
        font-size: 14px;
        color: $gray-2;
        line-height: 27px;
      }

      .icon-wrapper {
        width: 63px;
        height: 63px;
        border-radius: 63px;
        background-color: $gray-3;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .text-3 {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 18px;
        color: $gray-1;
        letter-spacing: -0.4px;
        margin-bottom: 10px;
      }

      .text-4 {
        font-family: "Open Sans";
        font-size: 13px;
        color: $gray-2;
        line-height: 21px;
      }
    }
  }

  .tablet {
    display: none;
  }
}
