@media screen and (max-width: 1024px) {
  .component-2 {
    padding: 148px 0 185px 0px;

    .text-1 {
      font-size: 58.81px;
      letter-spacing: normal;
    }

    .text-2 {
      font-size: 71.77px;
      margin: -5px 5px 6px 0px;
    }

    .text-3 {
      font-size: 18.94px;
    }

    .button-wrapper {
      margin: 37px 4px 0 0;
    }

    .left-button {
      display: none;
    }

    .right-button {
      display: none;
    }
  }
}
