.component-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 106px;

  .text-1 {
    font-family: "Raleway";
    font-size: 31px;
    font-weight: 600;
    color: $gray-1;
    margin-bottom: 9px;
  }

  .icon {
    margin-bottom: 84px;
  }

  .container {
    display: grid;
    width: 100%;
    height: 765px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 9px;

    .span2 {
      grid-column: span 2;
    }

    .element {
      background-image: url("../../images/component-5/image-3.jpg");
      background-position: center;
      background-size: cover;

      .hover {
        @include transition;
        height: 100%;

        opacity: 0;
        display: grid;
        grid-template-rows: 40fr 10fr;

        .buttons-area {
          @include flex-center;
          align-content: stretch;
          align-items: center;
          column-gap: 12px;
          background-color: $gray-5;
          padding: 145px 0 0 0;

          .icon {
            @include flex-center;

            @include transition;

            width: 46px;
            height: 46px;
            border-radius: 46px;
            border: 2px solid $green;
            box-sizing: border-box;

            &:hover {
              @include transition;

              background: none;
              background-color: $green;
            }
          }
        }

        .text-area {
          text-align: center;
          background-color: $black;

          .text-2 {
            font-family: "Raleway";
            font-weight: 600;
            font-size: 17px;
            color: $white;
            margin: 18px 0 5px 0;
            letter-spacing: 0.5px;
          }

          .text-3 {
            font-family: "Raleway";
            font-weight: 600;
            font-size: 13px;
            font-style: italic;
            color: $green;
          }
        }

        &:hover {
          @include transition;

          opacity: 100;
        }
      }
    }
  }
}
