.component-1 {
  width: 100%;
  background-color: $black;
  min-width: 1300px;
  padding: 31px 0 26px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;

  .logo {
    display: flex;
    transform: translate(85%,5%);

    .text-1 {
      font-family: "Raleway";
      font-size: 36px;
      font-weight: 300;
      margin-top: 6px;
      letter-spacing: 0.8px;
      color: $white;
    }
  }

  .navigations {
    display: flex;
    align-items: center;
    column-gap: 39.5px;
    transform: translate(-14.7%, 3%);


    .navigation {
      font-family: "Open Sans";
      font-size: 14px;

      .no-style {
        @include no-style;
        color: $white;
      }
    }
  }

  .button {
    display: none;
  }
}
