.component-1 {
  width: 100%;
  background-color: #000000;
  padding: 31px 370px 26px 365px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .logo {
    display: flex;

    .text-1 {
      font-family: "Raleway";
      font-size: 36px;
      font-weight: 300;
      margin-top: 6px;
      letter-spacing: 0.8px;
      color: white;
    }
  }

  .navigations {
    display: flex;
    align-items: center;
    column-gap: 39.5px;

    .navigation {
      font-family: "Open Sans";
      font-size: 14px;
      color: white;
    }
  }

  .button
  {
    display: none;
  }
}
