.component-1 {
  width: 100%;
  background-color: $black;
  padding: 25px 0 26px 0px;
  display: grid;
  grid-template-columns: 373fr 133fr 300fr 740fr 374fr;
  box-sizing: border-box;

  .shrinkable
  {
    flex-shrink: 1;
  }

  .logo {
    display: flex;
    transform: translate(-3%, 0);
    .text-1 {
      font-family: "Raleway";
      font-size: 36px;
      font-weight: 300;
      margin-top: 6px;
      letter-spacing: 0.8px;
      color: $white;
    }
  }

  .navigations {
    display: flex;
    align-items: center;
    column-gap: 39.5px;

    .navigation {
      font-family: "Open Sans";
      font-size: 14px;

      .no-style {
        @include no-style;
        color: $white;
      }
    }
  }

  .button {
    display: none;
  }
}
