$green: #3ab6b2;
$gray: #525252;
$gray-1: #323232;
$gray-2: #6a6a6a;
$gray-3: #3b3b3b;
$gray-4: #1e1e1e;
$gray-5: #29292981;
$gray-6: #606060;
$gray-7: #7c7c7c;
$dark: #1e1e1e;
$white: #ffffff;
$black: #000000;
$alt-black: #111111;
$cyan: #45629e;